html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .spacex-theme {
    --calcite-color-brand: #0C91F0;
    --calcite-color-brand-hover: #007ac2;
    --calcite-color-brand-press: #00619b;
    --calcite-color-background: #005288;
    --calcite-color-foreground-1: #003b62;
    --calcite-color-foreground-2: #0C91F0;
    --calcite-color-foreground-3: #007ac2;
    --calcite-color-foreground-current: #374a33;
    --calcite-color-info: #2d8626;
    --calcite-color-success: #36da43;
    --calcite-color-warning: #ffc900;
    --calcite-color-danger: #fe583e;
    --calcite-color-danger-hover: #ff0015;
    --calcite-color-danger-press: #d90012;
    --calcite-color-text-1: #ffffff;
    --calcite-color-text-2: #ffffff;
    --calcite-color-text-3: #ffffff;
    --calcite-color-text-inverse: #000000;
    --calcite-color-text-link: #2d8626;
    --calcite-color-border-1: #042A47;
    --calcite-color-border-2: #042A47;
    --calcite-color-border-3: #042A47;
    --calcite-color-border-input: #042A47;
    --calcite-list: blue;
    --calcite-input: purple;
}


  .header {
    background-color: #021524;
    color: #F0F0F0;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 200px;
    margin-top: -20px;
    margin-bottom: -15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .main-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    height: calc(100% - 1000px); 
  }

  #viewDiv {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;
    background-color: #042A47;
    overflow-y: auto;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
  }

  /* .container{
    background-color: #021524;
  }
  .panel-side{
    background-color: #042A47;
  } */
  .list-header {
    margin: -5px;
  }

  .button-container {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .video-container {
    width: 270px; /* Set the desired width */
    height: auto; /* Set the desired height */
    overflow: hidden; /* Optional: hide any overflow */
  }
  .video-container video {
    width: 100%; /* Make the video fill the container */
    height: 100%; /* Make the video fill the container */
  }

  