.tab-container {
    background: var(--background-color-light);
    .MuiTab-root {
        color: var(--text-color-primary);
        background-color: var(--background-color-light);
        margin-top: 5px;
        flex: 1;
        &.Mui-selected {
          color: var(--text-color-primary); // Text color for the selected tab
          background-color: var(--background-color-medium);
          border-radius: 15px 15px 0px 0px; // Rounded corners
        }
      }
    
      .MuiTabs-indicator {
        background-color: var(--primary-color);
      }
     }
