.button-container {
    width: auto !important; 
    display: flex !important;
    justify-content: space-evenly !important;
    padding: 10px !important;
    flex-direction: row !important; 
}

.active-button {
    color: var(--text-color-primary) !important;
    background-color: var(--secondary-color) !important;
    border:2px solid var(--primary-color) !important;
    border-radius: percentage($number: 15) !important;
}
.inactive-button {
    color: var(--text-color-secondary) !important;
    background-color: var(--background-color-light) !important;
    border: 2px solid var(--text-color-primary) !important;
    border-radius: percentage(15) !important;
}


// .disabled-button {
//     color: var(--dark-icon-border);
//     background-color: var(--dark-icon-background);
//     border:2px solid var(--dark-icon-border);
//     padding:15%;
//     border-radius:percentage($number: 15) ;
// }

// .button-badge {
//     background-color: var(--primary-color);
//     color:var(--text-color);
// }

