.custom-toolbox-container {
  position: absolute;
  max-width:fit-content;
  top: 10px;
  z-index: 1000;
  background-color: var(--background-color-medium);
  padding: 10px;

  &.left {
    left: 10px;
  }

  &.right {
    right: 10px;
  }

  .custom-toolbox-icons {
    background-color: var(--background-color-light) !important;
    color: var(--primary-text-color) !important;
    border: 2px solid var(--primary-color) !important;
    }
}



 
  // &.active {
  //   color: var(--dark-icon-color);
  // background-color: var(--secondary-color);
  // border:3px solid var(--medium-dark-background-color);
  // border-radius: 10px;
  // }

  // &.disabled{
  //   color: rgb(165, 165, 165);
  // }



// .panel-tools {
//   // padding: 5px;
//   box-sizing: border-box;
//   width: 300px;
//   max-height: 70%;
//   position: absolute;
//   top: 45px;
//   right: 25px;   
//   z-index: 60;
//   visibility:hidden;
//   overflow-y:auto;
//   border: 5px solid var(--medium-dark-background-color);
// }