.banner {
    grid-area: "top-banner bottom-banner";  
    background-color: var(--secondary-color);
    color: var(--text-color-primary);
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: .8em;
}